@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
    box-sizing: border-box;
}
/* 테두리 박스로 설정하고 싶어 어떤 요소 위에 안쪽 여백이나 테두리를 추가해도 너비에 영향을 주지 않도록 */
body{
    font-family: 'Muli', sans-serif;
    display:flex;
    /* flex-direction: column;  */
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; /* 스크롤바가 보이는거 싫어서  */
    margin: 0;
    border: solid red 2px;

}

.container {
    display:flex;
    border: solid 2px green;
    width: 90vw;
}
.panel {
    /* 전체 이미지 크기를 볼 수 있다. */
    background-size: auto 100%; 
    /*  배경 위치는 중앙으로 설정하고 */ 
    background-position:center;
    /* 반복하지 않을 것이다. */
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor:pointer;
    flex:0.5;
    margin: 10px;
    position:relative;
    transition: flex 0.7s ease-in
}

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px; 
    left: 20px;
    margin: 0;
    /* 글씨 안보이게 하기, 나중에 사진 클릭하면 드러나게 할거임 */
    opacity: 0;
}

 /* 이제 active할때  */
.panel.active{
    flex:5;
   
}
.panel.active h3{
    opacity: 1;
    /* property name | duration | easing function | delay */
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4), 
    .panel:nth-last-of-type(1){
        display:none;
    }
}


/* ✅ :nth-of-type(), :nth-last-of-type() */
/* https://webisfree.com/2015-12-30/[css]-nth-of-type()-%EA%B7%B8%EB%A6%AC%EA%B3%A0-nth-last-of-type()-%EC%84%A0%ED%83%9D%EC%9E%90-%EC%95%8C%EC%95%84%EB%B3%B4%EA%B8%B0 */
/* ✅ ease */
/* https://www.w3schools.com/cssref/tryit.php?filename=trycss3_transition-timing-function2 */